.form{
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        background: linear-gradient(to right, #ed7fa9,
                    #c4f3e7, #c29bcc, #ddf2f5);
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    margin-top: 1.5%;
    }
}
.contact__form{
    padding-top: 140px;
    color: white; 
    display: flex; 
    align-items:center; 
    justify-content:center;
    background-color: rgb(15, 15, 15);
    width: 90%;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 70vh;
    padding-bottom: 10%;
}
.contact__rowOne{
    display: flex;

}